body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.status {
  margin-bottom: 10px;
}

.active {
  border: 5px solid #000;
}

.noble {
  border: 1px solid #999;
  margin: 3px;
  padding: 12px;
}

.selectable {
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
}
.selectable:active {
  color:red;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
.selectable:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 3px -1px rgba(0,0,0,0.6);
}

.disabled {
  cursor: default;
  opacity: 0.5;
  box-shadow: none;
  pointer-events: none;
}

.card {
  background: #fff;
  border: 5px solid #999;
  float: left;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  height: 240px;
  padding: 0;
  text-align: center;
}

.game-card {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  border: 1px solid #eee;
  border-radius: 5px;
}

.game-card.mini {
  height: 48px;
  width: 36px;
}

.game-card.small {
  width: 108px;
}

.white, .ui.cards > .ui.card > .content.white {
  background:rgb(220, 220, 220);
  border-color: #fff;
}

.blue, .ui.cards > .ui.card > .content.blue {
  background-color: rgb(140, 160, 210);
  border-color: rgb(30, 70, 180)
}

.green, .ui.cards > .ui.card > .content.green {
  background-color: rgb(130, 200, 170);
  border-color: rgb(10, 130, 80);
}

.red, .ui.cards > .ui.card > .content.red {
  background-color: rgb(240, 160, 170);
  border-color: rgb(220, 70, 70);
}

.black, .ui.cards > .ui.card > .content.black {
  background-color: rgb(150, 150, 150);
  border-color: rgb(50, 50, 50);
}

.wild, .ui.cards > .ui.card > .content.wild {
  background-color: rgb(230, 220, 10);
}

.beige, .ui.cards > .ui.card > .content.beige {
  background-color: rgb(200, 140, 50);
}

.coin {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid #eee;
  margin: 3px;
  padding: 3px;
}

.circle {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  text-align: center;
  font-size: 1.5em;
  border: 3px solid #eee;
  margin: 3px;
  padding: 3px;
}

.coinContainer {
  position: relative;
  display: inline flex;
}

.coinContent {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  bottom: 4px;
  margin-left: 13px;
  /* width: 100%; */
  height: auto;
  color: #fff;
}

.circle + .icon {
  position: relative;
  top: 24px;
  left: -12px;
}

.modal.bank > .content > .row > .coin {
  display: inline-block;
}

.ui.container.large {
  width: 1500px;
}

.ui.container.large.padded {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ui.container.horizontal {
  display: block flex;
}

.pointValue {
  font-size: 2rem;
  font-weight: 800;
}