body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.bold {
  font-weight: bold;
}

.square:focus {
  outline: none;
}

.game-players {
  padding-left: 100px;
}

.active {
  border: 5px solid #000;
}

.noble {
  border: 1px solide #999;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
}
.noble:active {
  color:red;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.card {
  background: #fff;
  border: 5px solid #999;
  float: left;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  height: 260px;
  padding: 0;
  text-align: center;
}

.mini {
  height: 96px;
}

.white, .ui.cards > .ui.card > .content.white, .ui.card.mini > .content.white{
  background:rgb(220, 220, 220);
  border-color: #fff;
}

.blue, .ui.cards > .ui.card > .content.blue, .ui.card.mini > .content.blue {
  background-color: rgb(140, 160, 210);
  border-color: rgb(30, 70, 180)
}

.green, .ui.cards > .ui.card > .content.green, .ui.card.mini > .content.green {
  background-color: rgb(130, 200, 170);
  border-color: rgb(10, 130, 80);
}

.red, .ui.cards > .ui.card > .content.red, .ui.card.mini > .content.red {
  background-color: rgb(240, 160, 170);
  border-color: rgb(220, 70, 70);
}

.black, .ui.cards > .ui.card > .content.black, .ui.card.mini > .content.black {
  background-color: rgb(150, 150, 150);
  border-color: rgb(50, 50, 50);
}

.wild, .ui.cards > .ui.card > .content.wild, .ui.card.mini > .content.wild {
  background-color: rgb(230, 220, 10);
}

.coin {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid #eee;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
