body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.bold {
  font-weight: bold;
}

.square:focus {
  outline: none;
}

.card {
  background: #fff;
  border: 5px solid #999;
  float: left;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  height: 306px;
  padding: 0;
  text-align: center;
  width: 204px;
}

.color {

}

.ui.card > .content, .ui.cards > .card > .content.white {
  background:rgb(220, 220, 220);
  border-color: #fff;
}

.ui.card > .content, .ui.cards > .card > .content.blue {
  background-color: rgb(140, 160, 210);
  border-color: rgb(30, 70, 180)
}

.ui.card > .content, .ui.cards > .card > .content.green {
  background-color: rgb(130, 200, 170);
  border-color: rgb(10, 130, 80);
}

.ui.card > .content, .ui.cards > .card > .content.red {
  background-color: rgb(240, 160, 170);
  border-color: rgb(220, 70, 70);
}

.ui.card > .content, .ui.cards > .card > .content.black {
  background-color: rgb(150, 150, 150);
  border-color: rgb(50, 50, 50);
}

.ui.card > .content, .ui.cards > .card > .content.yellow {
  background-color: rgb(230, 220, 10);
}

.leftHeader {
  float: left;
}

.rightHeader {
  float: right;
}

.price .white {
  float: left;
}

.price .blue {
  float: left;
}

.price .green {
  float: left;
}

.price .red {
  float: left;
}

.price .black {
  float: left;
}

.point {
  font-size: 24px;
  font-weight: bold;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
